.proposals {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.proposals > div {
  margin: 5px;
  padding: 5px;
}
h3 {
  text-align: center;
  padding-top: 12px;
  margin-top: 0;
}
.group {
  padding-bottom: 12px;
  position: relative;
}
.past {
  background-color: antiquewhite;
}
.future {
  background-color: lemonchiffon;
}
.inactive {
  background-color: dimgrey;
}
.proposal {
  cursor: pointer;
}
.proposal:hover {
  background-color: cadetblue;
  border-radius: 6px;
}
.filtered .proposal:not(.found) {
  opacity: 0.2;
}
body {
  margin: 0;
  padding: 0;
}
.searchcontainer {
  position: fixed;
  z-index: 2;
  padding: 12px;
}

.modalvisible .searchcontainer {
  display: none;
}

#modal {
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  pointer-events: none;
  display: flex;
  z-index: 5;
}

#modalcontent {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.modalvisible #modal {
  opacity: 1;
  pointer-events: all;
}

#futuremarker {
  display: inline-block;
  padding: 5px;
  background-color: #dddc9f;
  border-top-right-radius: 70%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.pastVisible #futuremarker {
  position: absolute;
}

#pastmarker {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 0;
}

#pastmarker > span {
  display: inline-block;
  padding: 5px;
  border-bottom-right-radius: 70%;
  background-color: #edccc0;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}